version: '3'

services:

  wfamq:
    image: wildfly-amq:latest
    container_name: wfamq 
    ports:
      - "8080:8080"
      - "9990:9990"
    volumes:
      - ./config:/opt/jboss/wildfly/standalone/input-scripts
    restart: unless-stopped

  activemq:
    image: rmohr/activemq:5.14.0-alpine
    container_name: activemq 
    ports:
      - "61616:61616"
      - "61613:61613"
      - "8161:8161"
    restart: unless-stopped
